<!-- Navbar -->
<nav class="bg-[#055EAF] text-white p-4 flex items-center justify-between">
    <div class="flex items-center">
        <div class="flex items-center space-x-2">
            <img src="assets/logo.png" alt="Rali Sports Center" class="h-10 w-10">
            <h1 class="text-lg font-bold">Rali Sports Center</h1>
        </div>

      <!-- Search Bar  *ngIf="searchVisible"  -->
      <input 
        
        type="text" 
        placeholder="Search..." 
        class="ml-64 rounded-full px-4 py-1 text-black w-80 outline-none"
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
      >
    </div>
    <div class="flex items-center space-x-6">
      <a href="/" class="hover:underline">HOME</a>
      <a href="store" class="hover:underline">STORE</a>
      <a href="cart" class="hover:underline">CART</a>
      
      <!-- PROFILE link redirects based on login status -->
      <a (click)="onProfileClick()" class="hover:underline">PROFILE</a>
    </div>
</nav>  